@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
*{
	margin: 0;
}
.header{
	background-image: url('../img/bg.jpg');
	background-position: -190px -24px;
	background-repeat: no-repeat;
	height: 1000px;
	padding-top: 370px;
	text-align: center;
}
.logo{
	position: absolute;
	top: 0;
	top: 10px;
	left: 41px;
	width: 269px;
	height: 127px;
	background-image: url('../img/logo.png');
}

ul{
	list-style: none;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	position: absolute;
	top: 69px;
	left: 1011px;
	color: white;
	padding-left: 0;

}

li{
	padding: 0 27px;
}

.tittle{
	display: block;	
	position: absolute;
	left: 246px;
	top: 356px;
	color: white
}

.tittle-style-1{
	font-family: 'Open Sans', sans-serif;
	font-size: 90px;
}

.tittle-style-2{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: white;
	padding-top: 13px;
	letter-spacing: 3.45px;
}

.button-wrapper{
	position: absolute;
	top: 570px;
	left: 583px;
}
.button{
	background-color: #240e1a;
	border: 1px solid #421326;
	height: 55px;
	margin: 0 auto;
	width: 257px;
	opacity: 0.6;
	position: relative;
	transition:0.3s;
}
.button-wrapper:hover{
	background-color: #b06b88;
	transition:0.3s;
}
.button-txt {
	position: absolute;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	left: 27px;
	top: 8px;
	color: white;
	opacity: 1 !important;
}